body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

  /* background-image: url(/img/background\ blue.png); */
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  border: 2px solid black;
}

h2 {
  text-align: center;
  font-size: 60px;
}

.col-4 {
  height: 70px;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
