body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  color: rgb(97, 97, 241);

  background-image: url(/img/background\ blue.png);
  background-repeat: no-repeat;
  background-size: cover;

}


h2 {
  font-size: 60px;
}


a {
  text-decoration: none;
  color: rgb(97, 97, 241);
}


.textsize{
  font-size: 40px;
}

img{
  width: 20%;
}

