body {
  padding: 0%;
  margin: 0%;
  color: rgb(97, 97, 241);
  box-sizing: border-box;

  background-image: url(/img/background\ blue.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 60px;
}

.col-4 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 241);
}

.intro-text {
  font-size: 40px;
}



