body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

  /* background-image: url(/img/background\ blue.png); */
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  border: 2px solid black;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-size: 60px;
}

.col-4 {
  height: 70px;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.intro{
  margin-top: 100px;
  border: none;
}

.intro-text{
  font-size: 40px;

}

#title{
  margin-top: 25px;
}

.nav-line{
  margin-top: 20px;
}